@{
    Layout = "_Layout";
    Layout = "_Layout1";
}
@model IEnumerable<SLM.Bussiness.Models.CoursesModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-lef" style="margin-top:25px;">Courses List</h1>

<div  class=" mt-lg-5">
    
    <div>
        <form asp-action="Index">

            <input type="text" name="Search" id="Search" class="form-control" placeholder="search" aria-label="Search" width="400" height="10" /> <br />

            

                <a class="btn btn-primary" id="Se" href="#">Display List</a>
           
                  

          

        </form>
           
    </div>
          
    
</div> <br />
<hr class="solid" style="border-top: 4px solid #bbb;border-radius: 5px;">
<br />
<p>
    <a class="btn btn-warning"  asp-action="Create">Create New</a>
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modification)
            </th>

            </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                    @Html.DisplayFor(modelItem => item.Duration)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Teacher)
            </td>
                <td>
                    @item.Location
                </td>
            <td>

                    @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
               

                   
                    @Html.ActionLink("Details", "Details", new { Id = item.Id }) |
                    
         
                    @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
               
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    //Search
    $(document).ready(function () {
        $("#Se").click(function (event) {
            event.preventDefault();
            window.location.href = "@Url.Action("Index")" + "?Search=" + $("#Search").val();
        });
    })
</script>