@model IEnumerable<SLM.Bussiness.Models.CoursesModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses List</h1>
<div >
    
    <div>
        <form asp-action="Index" class="input-group-text bg-light bg-opacity-0"  id="input-search" width="400" height="10">

            <input type="text" class="form-control " placeholder="search" aria-label="Search" /> <br />

            <div>
                   

                   <input type="submit" value="Search" class="btn btn-primary" />

                   <a asp-action="Index">Display List</a>

            </div>

        </form>
           
    </div>
   

        
        
    
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Modification)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                    @Html.DisplayFor(modelItem => item.Duration)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Teacher)
            </td>
               
            <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { Id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
