@{
    Layout = "_Layout1";
}
@*@model SLM.Bussiness.Models.LectureModel*@
@model IEnumerable<SLM.Bussiness.Models.LectureModel>


@{
    ViewData["Title"] = "Lecture";
}
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">
    

<div class="main">
    <h3 style="margin-top:50px;">Lecture List</h3>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th> 
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LectureName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LectureDescription)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CourseId )
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.LectureURL)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LectureName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.LectureDescription)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.LectureURL)
                        <div class="text-center">

                            <h1 class="font-weight-bold">Upload File</h1>

                            <p style="color:red;font-weight:bold;">

                                @ViewBag.Message

                            </p>

                            <input type="file" name="formFile" />

                            <input type="submit" value="Upload" />

                        </div>
                    </td>

                    <td>
                       @* @Html.ActionLink("Download", "Download", new { id=item.Id, CourseId = item.CourseId })*@
                        @Html.ActionLink("Edit", "Edit", new { Id = item.Id, CourseId = item.CourseId }) |
                        @Html.ActionLink("Delete", "Delete", new { Id = item.Id, CourseId = item.CourseId })
                    </td>
                </tr>
            }
        </tbody>
    </table>

 </div>

<style>
    .main {
        margin-left: 160px; /* Same as the width of the sidenav */
        font-size: 16px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }
</style>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>