@model IEnumerable<SLM.Bussiness.Models.LectureModel>


@{
    ViewData["Title"] = "Index";
}

    <h1>Lecture List</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LectureName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LectureDescription)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CourseId )
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.LectureURL)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LectureName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.LectureDescription)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.LectureURL)
                        <div class="text-center">

                            <h1 class="font-weight-bold">Upload File</h1>

                            <p style="color:red;font-weight:bold;">

                                @ViewBag.Message

                            </p>

                            <input type="file" name="formFile" />

                            <input type="submit" value="Upload" />

                        </div>
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { Id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

  
